<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Présentation du projet</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Présentation du sujet</li>
      <p>Le projet « Mise en place d’une application de gestion des formations interne » consiste à mettre en place une
        application web pour la gestion et le suivi des cursus de formation interne pour les collaborateurs d’une
        société
        informatique. Elle permet, en outre, de définir les objectifs de la formation, détailler la démarche de
        formation
        et effectuer le bilan pour chaque formation.</p>
      <li>Architecture applicative</li>
      <dl class="dl-horizontal">
        <dt> Couche de présentation :</dt>
        <dd>Angular, PrimeNG, Bootstrap</dd>
        <dt> Couche de services :</dt>
        <dd>Spring MVC</dd>
        <dt> Couche métier :</dt>
        <dd>Spring Boot</dd>
        <dt> Couche d'accès aux données :</dt>
        <dd> Spring Data JPA</dd>
        <dt> Couche de base de données :</dt>
        <dd>JPA, MySQL</dd>
      </dl>
      <li>Outils et serveur</li>
      <dl class="dl-horizontal">
        <dt> Logiciel de gestion de versions :</dt>
        <dd> Git</dd>
        <dt> Framework de test unitaire :</dt>
        <dd> jUnit</dd>
        <dt> Journalisation :</dt>
        <dd>SLF4j</dd>
        <dt> Outil de documentation :</dt>
        <dd>Swagger</dd>
        <dt> IDE :</dt>
        <dd>Eclipse, WebStorm</dd>
		<dt> Serveur de base de données :</dt>
        <dd>MySQL</dd>
      </dl>
    </ul>
  </div>
</div>
