<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="formationForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" class="form-control" formControlName="nom">
    </div>
    <div class="form-group">
      <label for="domaine">Domaine</label>
      <textarea id="domaine" class="form-control" formControlName="domaine"></textarea>
    </div>
    <div class="form-group">
      <label for="objectif">Objectif</label>
      <textarea id="objectif" class="form-control" formControlName="objectif" rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="budget">Budget</label>
      <input type="number" id="budget" class="form-control" formControlName="budget">
    </div>
    <button type="submit" class="btn btn-default" [disabled]="formationForm.invalid"><span
      class="glyphicon glyphicon-ok-sign"></span> Soumettre
    </button>
    <button type="reset" class="btn btn-default" (click)="onResetAll()"><span class="glyphicon glyphicon-repeat"></span>
      Effacer
    </button>
  </form>
  <br>
  <div *ngIf="messageSuccess === true" class="alert alert-success">
    <strong>Enregistrement effectué avec succès.</strong>
  </div>
</div>
